@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap");

html,
body {
  width: 100%;
  min-height: 100%;
  height: 100%;
  /* overflow-x: hidden; 이걸 입력하면 스크롤바가 가려진다.*/
  color: #333;
}
body {
  font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: -0.03em;
}

.active {
  color: #fa2828;
}

a:hover {
  color: #fa2828;
}

#wrap {
  position: relative;
  width: 100%;
}

/*header ... */

#header_inner {
  position: fixed;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #dddddd;
  height: 100px;
  z-index: 900;
}

header {
  position: relative;
  width: 1080px;
  margin: 0 auto;
  height: 100%;
  vertical-align: middle;
  user-select: none;
}

header h1#logo {
  float: left;
  margin-top: 23px; /*로고의 크기에 따라 가변적*/
}

header h1#logo img {
  width: 48px;
}

header ul#gnb {
  float: right;
  list-style: none;
  font-family: "Montserrat" !important;
  margin-top: 40px;
  height: 60px;
  font-weight: 600;
}

header ul#gnb li {
  float: left;
  height: 60px;
}

header ul#gnb li a {
  text-transform: uppercase;
}

header ul#gnb > li:hover > .gnb_sub_inner {
  visibility: visible;
}

header ul#gnb li:not(:last-child) {
  margin-right: 50px;
}

.gnb_sub_inner {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 1000em;
  height: 50px;
  border-bottom: 1px solid #dddddd;
  background-color: white;
  left: 0;
  top: 101px;
  transform: translateX(-466.23rem);
  visibility: hidden;
}

.gnb_sub {
  width: 1080px;
  margin: 18px auto 0;
  list-style: none;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  color: #333;
}

/*content */

#container {
  position: relative;
  top: 100px;
  height: 1000px;
  z-index: 300;
}

.content_row {
  width: 100%;
}

.content_area {
  width: 1080px;
  margin: 0 auto;
  font-size: 1.15em;
}

.content_area:first-child {
  margin-top: 50px;
}

.content_area h2 {
  font-size: 1.8em;
  margin: 20px 0 50px;
}

.content_image {
  width: 100%;
  height: 500px;
  background: url("../images/banner01.jpg") no-repeat center center;
  background-size: cover;
}

/*footer*/
